.calendar{
    font-family: "Lucida Console", Monaco, monospace;
    border-spacing: 10px;
    border-collapse: separate;
}
.calendar-button {
    border: none;
    background: transparent;
    cursor: pointer;
}
.calendar-button.asc:after{
    content: url(img/right.png);
}
.calendar-button.desc:after{
    content: url(img/left.png);
}