@import "../../reset.css";

.main-header {
    /*background: gold;*/
    height: 50px;
    overflow: hidden;
}
.mails-header {
    /*background: gold;*/
    height: 50px;
    overflow: hidden;
}

.mails-header h1{
    display: inline-block;
    padding-left: 15px;
    width: 10%;
    position: relative;
    margin-left: 10px;
}
.mails-header span{
    display: inline-block;
    margin-top: 15px;
}

.controls {
    position: relative;
    top:-5px;
    margin-left: 5.5%;
}
.controls button{
    margin-left: 10px;
    height:30px;
    width: 75px;
    position: relative;
}
.controls button input{
    position: relative;
}
.user-options {
    /*background: red;*/
    position: absolute;
    width: 150px;
    top: 100px;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.logo{
margin-top: 5px;
    margin-left: 10px;
}
.search-input{
    margin-left: 50px;
    height: 30px;
    width: 40%;
    position: relative;
    top: -20px;
}
.search-btn{
    background: lightskyblue;
    border: none;
    height: 35px;
    position: relative;
    top: -20px;
}
hr{
    margin: 0 !important;
}

.user-options nav{
    display: block;
    position: relative;
    overflow: hidden;
}
.user-options nav a{
    display: block;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.user-options footer{
    position: absolute;
    bottom: 0;
    left: 10%;
}

.compose{
    position: relative;
    margin-top: 10%;
    margin-left: 15%;
}

.chat{
    padding: 10px;
    overflow: auto;
    top: 300px;
    display: block;
    position: absolute;
    bottom: 30px;
}

.mails .mails-list table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
.mails .mails-list table thead tr td{
    border-top: 0;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    text-align: left;
}
.mails .mails-list table tbody td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.mails {
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 170px;
    /*background: greenyellow;*/
    overflow: auto;
}

.mails footer{
    text-align: center;
}

.mails .mails-list {
}
.tab-control{
    margin-top: 10px;
}
.tab-control button{
    border: none;
    height:50px;
    width: 15%;
}

body{
    overflow: hidden;
}