@import "../../reset.css";

.main-header {
    /*background: gold;*/
    height: 50px;
    overflow: hidden;
}
.mails-header {
    /*background: gold;*/
    height: 50px;
    overflow: hidden;
}

.mails-header h3{
    display: inline-block;
    padding-left: 15px;
    width: 10%;
}

.controls {
    position: relative;
    top:-5px;
}
.controls button{
    margin-left: 10px;
    height:30px;
    width: 75px;
}
.controls input{

}
.user-options {
    /*background: red;*/
    position: absolute;
    width: 150px;
    top: 100px;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.logo{
margin-top: 5px;
    margin-left: 10px;
}
.search-input{
    margin-left: 50px;
    height: 30px;
    width: 40%;
}
.search-btn{
    background: lightskyblue;
    border: none;
    height: 30px;
}
hr{
    margin: 0 !important;
}

.user-options nav{
    display: block;
    position: relative;
    overflow: hidden;
}
.user-options nav a{
    display: block;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.user-options footer{
    position: absolute;
    bottom: 0;
    left: 10%;
}

.compose{
    position: relative;
    margin-top: 10%;
    margin-left: 15%;
}

.chat{
    padding: 10px;
    overflow: auto;
    top: 300px;
    display: block;
    position: absolute;
    bottom: 30px;
}

.mails {
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 170px;
    /*background: greenyellow;*/
    overflow: auto;
}

.mails footer{
    text-align: center;
}

.mails .mails-list {
}
.tab-control{
    margin-top: 10px;
}
.tab-control button{
    border: none;
    height:50px;
    width: 15%;
}

body{
    overflow: hidden;
}