@import "reset.css";
@font-face {
  font-family: Neris;
  src: url('../white_stripes_ui_kit/Neris/neris-thin.ttf') format('truetype');
}
h1{
  font-size: 32px;
  margin: 10px auto 10px;
  min-width: 100%;
  font-weight: lighter;
}
h3{
  font-size: 14px;
  margin: 0 auto 10px;
  min-width: 100%;
  font-weight: lighter;
}
body{
  font-family: Neris;
  font-size: 10px;
  color: #ffffff;
  background-color: #4595AE;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu-button{
  max-width: 18px;
  max-height: 18px;
  border: 2px solid #ffffff;
  margin: 0;
}
.search{

}
.menu .custom-select .selector{
  display: none;
}
.menu .custom-select .options{
  display: inline-flex;
  border: 2px solid #ffffff;
  justify-content: space-between;
  height: auto;
}
.menu .custom-select .options .option{
  display: flex;
  padding: 5px 15px;
  margin: 0;
}
.menu .custom-select .options .hover{
  background-color: #98B6C5;
  color: #106879;
}
