.custom-select{
    cursor: pointer;
}
.custom-select .selector{
    width: 100%;
}
.custom-select .img:after{
    position: relative;
    top: 5px;
    right: 5px;
    float: right;
    height: 0;
    content: url('img/arrow_down.png');
}
.custom-select .selector:after{
    content: url(img/arrow_down.png);
}
.custom-select .alert{
    background-color: rgba(200,20,20,0.3)
}
.custom-select .options{
    height: 0;
}
.custom-select .highlighted{
    color: sandybrown;
}
.custom-select .options .option{
    border: 1px solid #dddddd;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    position: relative;
}
.custom-select .options .option:nth-of-type(odd){
    background-color: #f9f9f9;
}
.custom-select .options .hide{
    display: none;
}
.custom-select .options .hover{
    background-color: #f0f0f0 !important;
}