.custom-select{
  cursor: pointer;
  position: relative;
  width: 100%;
}
.custom-select .selector{
  font-weight: inherit;
  font-family:inherit;
  color: inherit;
  font-size: inherit;
  cursor: inherit;
  width: 100%;
  box-sizing: border-box;
}
.custom-select .img{
  position: relative;
  height: 0;
  text-align: right;
}
.custom-select .options{
  cursor: inherit;
  max-height: 300px;
  overflow: auto;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 999;
}
.custom-select .highlighted{
  color: #c0392b;
}
.custom-select .options .option{
  font-family:inherit;
  color: inherit;
  font-size: inherit;
}
.custom-select .hide{
  display: none;
}
.custom-select .wrapper{
  font-weight: inherit;
  font-family:inherit;
  color: inherit;
  font-size: inherit;
  cursor: inherit;
  text-align: start;
  width: 100%;
}
