.custom-select{
    cursor: pointer;
}
.custom-select .selector{
    width: 100%;
}
.custom-select .options{
    position: absolute;
    width: 100%;
    text-align: center;
}
.custom-select .options .hide{
    display: none;
}
.hover{
    background-color: beige;
}