.custom-select {
  color: #ecf0f1;
  font-size: 12px;
  font-weight: 100;
}
.custom-select .selector{
  padding: 5px;
  background-color: #74ADC0;
  border: 3px solid #ffffff;
}
.custom-select .option {
  padding: 5px;
  background-color: #74ADC0;
}
.custom-select .options .option:nth-child(2n){
  background-color: #74A1C1;
}
.custom-select .alert{
  color: #e74c3c;
  border-color: #c0392b;
}
.custom-select .img{
  top: 8px;
  right: 10px;
}
.custom-select .img:after{
  content: url('img/rsz_ico_search.png');
}
.custom-select .options{
  outline: 3px solid #ffffff;
  top: 15px;
}
.custom-select .selector:focus{
  background-color: #98B6C5;
}

.custom-select .options .hover{
  color: #106879 !important;
  background-color: #98B6C5 !important;
}
.custom-select .options .option .highlighted {
  color: #8e44ad !important;
}
