.template {
  overflow: auto;
}

.template .film-logo {
  float: left;
  margin-left: 50px;
  border-right: 4px darkred solid;
  height: 64px;
  width: 64px;
}

.template .text {
  margin-top: 3%;
  margin-left: 260px;
  max-width: 50%;
}
