.template{
    overflow: auto;
    border-right: 5px #000000 solid;
    border-left: 5px #000000 solid;
}
.template .film-logo{
    float: left;
    margin-left: 50px;
    border-right: 4px darkred solid;
    height: 128px;
    width: 128px;
}
.template  .text{
    margin-top: 3%;
    margin-left: 260px;
    max-width: 50%;
}
