.template {
  overflow: auto;
  display: flex;
  justify-content: space-around;
}

.template .photo {
  margin: 10px 0 10px 10px;
  border-radius: 15px;
  max-height: 48px;
  max-width: 48px;
}

.template .text {
  margin: auto;
}
