@import "../../reset.css";

.show-grid {}

.show-grid .main-header {
    background: #d9e4df;
}


.show-grid .main-content .repository-header {
    background: #fff;
}
.show-grid .main-content .repository-files {    background: #fff;}


.show-grid .main-content .repository-options {background: #fff;}
.show-grid .github-info {
    background: #fff;
}

.content-wrapper {
    width: 1100px;
    margin: auto;
}

.main-header                 { background: #efefef; border-bottom: 1px solid lightgray;  }
.main-header .logo,
.github-info .logo           { width: 45px; height: 45px; padding-top: 3px; }
.main-header .input-group    { padding: 6px; }
.main-header #mainMenu       { padding-top: 3px; }
.main-header #mainMenu ul li { font-weight: 700; }
.main-header .avatar         { font-size: 20px; float: left; padding: 12px 5px 0 0; }
.main-header .avatar + figcaption { font-size: 12px; padding: 15px 15px 0 0; font-weight: bold; letter-spacing: 0.7px; float: left; }
.main-header #ToolBar ul li { padding: 15px 7px 0 0; }

.repository-header { border-bottom: 1px solid lightgray; }
.repository-header .container, .repository-header .col-lg-7 { padding-left: 8px; }
.repository-header .repository { font-size: 35px; padding: 15px 10px 0 0; color: lightgrey; float: left;  }
.repository-header .marks button { margin: 15px 15px 0 0; float: left;}
.repository-header .marks .input-group { float: left; width: 20%; }

.main-content {overflow: hidden; margin-top: 20px; }
.main-content #actionInRepository { padding:0 10px; border: 1px solid lightgray; border-radius: 5px; margin: 10px 0; }
.main-content #actionInRepository ul li { width: 24%; }
.main-content #branch button { float: left; margin-right: 20px; }
.main-content #branch h4 { padding-top: 10px; }
.main-content .readme { border-radius: 5px; background: #98D3C5; padding: 20px; }

.repository-options #actionWithFolder { margin-bottom: 10px; }
.repository-options article p, .repository-options article label { font-size: 12px; }

.github-info { border-top: 1px solid lightgrey; padding-top: 25px; margin-top: 20px; }
.github-info p { color: gray; font-size: 12px; float: left; padding: 13px 20px 0 0;  }


.main-content .repository-options { padding: 10px;
float: right;
    overflow: hidden;
}

