@import "../../reset.css";

.content-wrapper {
    width: 960px;
    margin: auto;
}

.main-header {
    background: royalblue;
}

.main-content {overflow: hidden;}

.main-content .repository-header {
    background: #66512c;
}

.main-content .repository-files {
    margin-right: 130px;
    background: goldenrod;
}

.main-content .repository-options {
    width: 130px;
    float: right;
    background: red;
    overflow: hidden;
}

.github-info {
    background: palegoldenrod;
}