.calendar{
}
.calendar .caption{
    font-size: 20px;
}
.calendar tr:nth-child(1){
    font-weight: bold;
}
.calendar .calendar-event{
    border: 1px solid crimson;
    padding: 2px;
    cursor: pointer;
}
.calendar .calendar-button {
    border: none;
    background: transparent;
    cursor: pointer;
}
.calendar .calendar-button.asc:after{
    content: url(img/right.png);
}
.calendar .calendar-button.desc:after{
    content: url(img/left.png);
}
