ul,
span{
    font-size: 18px;
}
input{
    margin: 5px;
}
.aside-config{
    float:right;
}
.what-year {
    width: 140px;
    height: 119px;
    background-image: url(img/year.jpg);
}
.selected {
    background: darkgrey !important;
}