input{
    margin: 5px;
}
.aside-config{
    float:right;
}
.what-year {
    width: 140px;
    height: 119px;
    background-image: url(img/year.jpg);
}
.selected {
    background: #ebf4f8 !important;
}
.selected-start{
    background: dodgerblue !important;

  border-radius: 5px ;
}
.selected-end{
    background: dodgerblue !important;
  border-radius: 5px ;
}
