input{
    margin: 5px;
}
.aside-config{
    float:right;
}
.selected {
    background: #ECF0F1 !important;
}
.selected-start{
    background: #BDC3C7 !important;

  /*border-radius: 5px ;*/
}
.selected-end{
    background: #BDC3C7 !important;
  /*border-radius: 5px ;*/
}
