.table-header{
    cursor:pointer;
}
.table-header.desc:after{
    content: url(img/arrow_up.png);
}
.table-header.asc:after{
    content: url(img/arrow_down.png);
}
.page{
    color : purple;
    font-weight : normal;
    cursor : pointer;
}
.page-active{
    color : black;
    font-weight : bold;
    cursor : pointer;
}