.table-header {
    cursor: pointer;
}

.table-header.desc:before {
    content: url(img/arrow_up.png);
}

.table-header.asc:before {
    content: url(img/arrow_down.png);
}

.my-page {
    color: purple;
    font-weight: normal;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    margin: 1px;
    border: 1px solid lightgrey;
}

.page-active {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.my-pager {
    width: 100%;
}

.noselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dragged{
    position: absolute;
    outline: 3px dashed lightblue;
    z-index: 1000;
    opacity: 0.9;
    pointer-events: none;
}

.dragged-shadow{
    position: absolute;
    background-color: lightgrey;
    border: 1px solid black;
    z-index: 999;
}

.filterable{
    position: relative;
    display: none;
    z-index:1000;
    /*margin-top: -22px;*/
    /*margin-left: -7px;*/
    width: 100%;
    margin: auto;
    border: none;
    text-align: center;
    outline: 1px solid lightblue;
}

.filterable-active{
   display: block;
}