.table-header {
    cursor: pointer;
}

.table-header.desc:after {
    content: url(img/arrow_up.png);
}

.table-header.asc:after {
    content: url(img/arrow_down.png);
}

.my-page {
    color: purple;
    font-weight: normal;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    margin: 1px;
    border: 1px solid lightgrey;
}

.page-active {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.my-pager {
    width: 100%;
}

.noselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dragged{
    position: fixed;
    display : block;
}