.custom-select
{
    position: relative;
    width:199px;
    border:1px solid black;
    max-height:105px;
    background:lightgrey;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}
.custom-selected
{
    width: 100%;
    height: 20px;
    position: relative;
    display: block;
    border:1px solid black;
}
.custom-selected:hover{
    background:lightblue;
    cursor: pointer;
}
.custom-selected:focus{
    background:lightblue;
}
.custom-option
{
    display: none;
    position: relative;
}
.custom-option:hover{
    background:lightblue;
    cursor: pointer;
}
.custom-option:focus{
    background:lightblue;
}