#example1, #example2, #example3 {
    width: 80px;
    height: 24px;
    border: 1px solid black;
    float: left;
    padding: 5px 0 0 10px;
    margin: 4px 100px 4px 10px;
}

.custom-select{
    width:199px;
    max-height:200px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    margin: 2px;
    padding: 2px;
    font-family: Arial;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.7px;
    text-shadow: 1px 1px 1px black;
}
.custom-selected{
    padding-left: 10px;
    width: 95%;
    height: 25px;
    position: relative;
    display: block;
    border:1px solid #298228;
    border-radius: 7px;
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
    padding-top: 5px;

}

.custom-selected .select-image {
    width: 20px;
    height: 20px;
}
.custom-selected:hover{
    background:lightblue;
    cursor: pointer;
}
.custom-selected:focus{
    background:lightblue;
}
.custom-option{
    text-align: center;
    display: none;
    border:1px solid black;
    background:lightgrey;
    position: absolute;
    width: 199px;
    z-index: 1;
}
.custom-option-active{
    display: block;
    position: relative;
}
.custom-option-notactive {
    display: none;
}
.custom-option div:hover{
    background:lightblue;
    border:1px solid #92CCE6;
    cursor: pointer;
}
.custom-option div:focus{
    background:lightblue;
}

.options-active { display: block; position: absolute; }
.options-not-active { display: none; position: absolute;}