#first { position: relative; }
.custom-select{
    width:199px;
    border:1px solid black;
    max-height:105px;
    background:lightgrey;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    float: left;
    margin: 2px;
}
.custom-selected{
    width: 100%;
    height: 20px;
    position: relative;
    display: block;
    border:1px solid black;
}
.custom-selected:hover{
    background:lightblue;
    cursor: pointer;
}
.custom-selected:focus{
    background:lightblue;
}
.custom-option{
    display: none;
    border:1px solid black;
    background:lightgrey;
    position: absolute;
    width: 199px;
    z-index: 1;
}
.custom-option-active{
    display: block;
    position: relative;
}
.custom-option-notactive {
    display: none;
}
.custom-option div:hover{
    background:lightblue;
    border:1px solid #92CCE6;
    cursor: pointer;
}
.custom-option div:focus{
    background:lightblue;
}

.options-active { display: block; position: absolute; }
.options-not-active { display: none; position: absolute;}